body {
    background: rgb(72, 155, 163);
    color: rgb(45, 45, 45,);
    padding:    10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(118, 154, 42);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(159, 25, 25);
    flex: 1;
    margin: 0;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration:blueviolet; 
    color: #531313;
}

/* main container area beneth menu*/
main {
    background: rgb(52, 201, 119);
    color:rgb(255, 8, 0);
    display: flex;
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    margin-top: 20px;
}

h2,  h3 {
    margin: 0px;
}

body {
    background: #2a2a2a;
    color: #ddd;
}

 nav {
    background: #333;
 }

 a {
    color: #5d64bb;
 }
 nav {
    background: #444;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 body {
    background: #af1010;
    color: #711f1f;
 }
 nav {
    background:  #3f3131;
 }

 a {
    color: #0040ff;
 }